# Python
__pycache__/
*.py[cod]
*.egg-info/
*.pyo
*.pyd
*.so
*.log

# Environments
.env
*.env
.venv/
env/
venv/
wrds_env/
wrds_env

# VSCode
.vscode/

# OS
.DS_Store

# Data
*.csv
*.xlsx
*.sql
*.db
corporate_fraud.db
data/
data*/
data copy/
data copy 2/
data_lamma3b/
data.zip
Trials/
Trials
data_old/
extracted_pdf
manual_downloads

whatdowewant.txt